* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
