@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap");

:root {
  --hue-color: 225;

  --first-color: hsl(var(--hue-color), 38%, 45%);
  --title-color: hsl(var(--hue-color), 38%, 22%);
  --text-color: hsl(var(--hue-color), 12%, 32%);
  --body-color: hsl(var(--hue-color), 38%, 98%);
  --container-color: #fff;

  --body-font: "Poppins", sans-serif;

  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;

  @media screen and (min-width: 968px) {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
